@font-face {
    font-family: 'SkinSans';
    src: url('fonts/SinkinSans-400Regular.otf') format('opentype');
}

.home {
    background-color: #335275;
    width: auto;
    height: 100vh;
}

.logo {
    width: 130px;
    height: 90px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 866px;
    border-radius: 15px;
    height: 80px;
    margin: 0 auto;
    margin-top: -18px;
}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 23%;
    margin-top: 29px;
    color: #484747;
    font-family: 'SkinSans';
    list-style: none;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40vw;
}

.title {
    font-family: 'SkinSans';
    color: white;
    font-size: 65px;
    width: auto;
    margin-top: 10vw;
}

.button-contact {
    width: 155px;
    height: 40px;
    border-radius: 37px;
    border-style: none;
    font-family: 'SkinSans';
    color: #335275;
    font-size: 15px;
    margin-top: -20px;
}

.container-photo {
    display: flex;
    justify-content: center;
    margin-right: 160px;
}

.two-people {
    width: 433px;
    height: auto;
    position: absolute;
    top: 120px;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: white;
    width: 100%;
    height: 145px;
    text-align: center; /* Garante que o texto dentro fique centralizado */
}

.first-image {
    width: 140px;
    height: 140px;
}

.text-wrapper {
    display: flex;
    flex-direction: column; /* Coloca os elementos um abaixo do outro */
    align-items: center; /* Centraliza no eixo horizontal */
    margin-right: 100px;
}

.second-text {
    font-size: 45px;
    color: #335275;
    line-height: 1.3;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 36px;
    font-family: 'SkinSans';
    margin: 0;
}